In [98]:
def topTeams(league):
    t= league.groupby('clubId').agg({'points':'sum','clubName':'first','transfers in': 'mean','transfers out': 'mean','goalDiff':'sum'}).sort_values('points',ascending=False)
    return t

RO1=leagueTables.merge(clubSeasonInOut).groupby('league').apply(topTeams).ix['RO1']

In [116]:
leagueTables[leagueTables['season'].between(2005,2015)].merge(clubSeasonInOut).groupby('league').apply(topTeams) #.ix['GR1'].sort_values('goalDiff').plot.scatter(x='transfers in',y='points')

               goalDiff  transfers in  points           clubName  \
league clubId
A1     409          439     11.909091     786        RB Salzburg
       170          264      8.636364     679       Rapid Vienna
       14           184     11.090909     659     Austria Vienna
       122           97     11.000000     589         Sturm Graz
       266           -6     11.545455     525           SV  Ried
       856         -144      6.888889     369     SV Mattersburg
       2444        -136      8.000000     265          FC Wacker
       503          -92     13.166667     249      Admira Wacker
       17444       -148     12.000000     234    Wiener Neustadt
       3551         -89     10.800000     203         SCR Altach
       4441         -25      9.250000     183     Wolfsberger AC
       413          -89     16.000000     149               LASK
       2394        -118     16.000000     130      SV Kapfenberg
       10131        -36     13.000000     126          SV Grödig
       935           17     14.500000     110        FC Pasching
       11609        -93     21.333333      89    Austria Kärnten
       316          -25     11.000000      79          Grazer AK
AZ1    10625        147      9.000000     310      Qarabag Agdam
       8956          94     14.200000     278         Inter Baku
       8031          59      9.800000     251       Neftchi Baku
       22010         44     13.800000     247          FK Gabala
       13326        -30     16.400000     175               AZAL
       8841         -30     13.800000     171     Xäzär Länkäran
       13328          5     11.250000     143             Simurq
       10693        -24     12.250000     142            FC Baku
       36999        -98     15.200000     132           Sumgayit
       33315        -98     24.750000      90         Ravan Baku
       7090         -37     14.333333      88        Kapaz Ganja
       46710         12     26.000000      62            FK Zira
       9526         -31     16.500000      34              Turan
...                 ...           ...     ...                ...
UNG1   3395         -70     15.000000      87       FC Tatabánya
       2952         -76     15.666667      83          FC Sopron
       6049         -30     19.000000      27         Békéscsaba
       24032        -25     12.000000      24         Mezőkövesd
       27165        -23     14.000000      23        Dunaújváros
       5399         -30     14.000000      21            Szolnok
       213          -36     12.000000      19                Vác
       27397        -42     22.000000      15            Egri FC
ZYP1   2784         247     10.857143     406      APOEL Nicosia
       829          167     13.714286     357     Omonia Nikosia
       3899         140     14.142857     343    Anor. Famagusta
       429          100     14.428571     325     Apol. Limassol
       786           77     16.000000     312       AEL Limassol
       2156         104     14.333333     276        AEK Larnaca
       4590         -73     16.285714     182           Ethnikos
       24326        -49     21.833333     177    Ermis Aradippou
       840          -59     16.166667     164      En. Paralimni
       18945        -82     20.500000     163        Nea Salamis
       3393        -102     19.833333     148      D. Katokopias
       10586        -42     17.500000      98      Aris Limassol
       1402         -13     17.333333      93      Olympiakos N.
       8701         -95     17.000000      90       Alki Larnaca
       7475         -64     26.666667      67          AE Pafos
       8554         -27     22.000000      53       APOP Kinyras
       10816       -112     17.000000      30          Agia Napa
       45457        -12     15.000000      27           Pafos FC
       26129        -37     29.000000      21        AEK Kouklia
       8553         -26     24.000000      17      APEP Pitsilia
       30606        -13     12.000000      16  Othellos Athienou
       6043         -29     20.000000      11    Anagennisi Dery

               transfers out
league clubId
A1     409         10.909091
       170          8.181818
       14          11.272727
       122         10.363636
       266         10.909091
       856          6.000000
       2444         7.571429
       503         12.666667
       17444       11.666667
       3551         6.800000
       4441         8.500000
       413         12.500000
       2394        13.750000
       10131       10.333333
       935         12.000000
       11609       12.000000
       316         13.000000
AZ1    10625       10.000000
       8956        14.600000
       8031        11.600000
       22010       15.200000
       13326       15.600000
       8841        16.200000
       13328        8.750000
       10693       15.750000
       36999       11.600000
       33315       14.750000
       7090        11.666667
       46710        9.000000
       9526        15.000000
...                      ...
UNG1   3395        14.000000
       2952        21.333333
       6049         4.000000
       24032        9.000000
       27165       10.000000
       5399        13.000000
       213          8.000000
       27397       13.000000
ZYP1   2784        10.285714
       829         13.857143
       3899        15.285714
       429         15.428571
       786         17.857143
       2156        15.333333
       4590        17.571429
       24326       20.833333
       840         17.666667
       18945       18.666667
       3393        20.833333
       10586       12.000000
       1402        17.000000
       8701        18.750000
       7475        24.000000
       8554        21.500000
       10816       13.666667
       45457       13.000000
       26129        7.000000
       8553        10.000000
       30606        5.000000
       6043         9.000000

[981 rows x 5 columns]

In [50]:
def transfercount(club):
    return club

clubSeasonInOut=DataFrame({'transfers out': nonloans.groupby(['fromTeamId','season']).count()['id'],
    'transfers in':nonloans.groupby(['toTeamId','season']).count()['id']}).fillna(0).reset_index().rename(columns={'level_0':'clubId','level_1':'season'})

In [51]:
leagueTables.merge(clubSeasonInOut)

,league,season,rank,clubId,clubName,matches,wins,draws,losses,goalsFor,goalsAgainst,goalDiff,points,pointsRaw,transfers in,transfers out
0,GB1,2015,1,1003,Leicester,38,23,12,3,68,36,32,81,81,8.0,12.0
1,GB1,2015,2,11,Arsenal,38,20,11,7,65,36,29,71,71,7.0,4.0
2,GB1,2015,3,148,Spurs,38,19,13,6,69,35,34,70,70,6.0,20.0
3,GB1,2015,4,281,Manchester City,38,19,9,10,71,41,30,66,66,9.0,13.0
4,GB1,2015,5,985,Manchester Utd.,38,19,9,10,49,35,14,66,66,11.0,13.0
5,GB1,2015,6,180,Southampton,38,18,9,11,59,41,18,63,63,7.0,7.0
6,GB1,2015,7,379,West Ham,38,16,14,8,65,51,14,62,62,11.0,14.0
7,GB1,2015,8,31,Liverpool,38,16,12,10,63,50,13,60,60,10.0,10.0
8,GB1,2015,9,512,Stoke City,38,14,9,15,41,55,-14,51,51,8.0,7.0
9,GB1,2015,10,631,Chelsea,38,12,14,12,59,53,6,50,50,10.0,9.0
10,GB1,2015,11,29,Everton,38,11,14,13,59,55,4,47,47,8.0,7.0
11,GB1,2015,12,2288,Swansea,38,12,11,15,42,52,-10,47,47,5.0,8.0
12,GB1,2015,13,1010,Watford,38,12,9,17,40,50,-10,45,45,17.0,7.0
13,GB1,2015,14,984,West Brom,38,10,13,15,34,48,-14,43,43,6.0,12.0
14,GB1,2015,15,873,Crystal Palace,38,11,9,18,39,51,-12,42,42,5.0,10.0
15,GB1,2015,16,989,Bournemouth,38,11,9,18,45,67,-22,42,42,10.0,6.0
16,GB1,2015,17,289,Sunderland,38,9,12,17,48,62,-14,39,39,13.0,7.0
17,GB1,2015,18,762,Newcastle,38,9,10,19,44,65,-21,37,37,8.0,12.0
18,GB1,2015,19,1123,Norwich,38,9,7,22,39,67,-28,34,34,8.0,8.0
19,GB1,2015,20,405,Aston Villa,38,3,8,27,27,76,-49,17,17,12.0,16.0
20,GB1,2014,1,631,Chelsea,38,26,9,3,73,32,41,87,87,12.0,15.0
21,GB1,2014,2,281,Manchester City,38,24,7,7,83,38,45,79,79,13.0,10.0
22,GB1,2014,3,11,Arsenal,38,22,9,7,71,36,35,75,75,8.0,11.0
23,GB1,2014,4,985,Manchester Utd.,38,20,10,8,62,37,25,70,70,10.0,16.0
24,GB1,2014,5,148,Spurs,38,19,7,12,58,53,5,64,64,8.0,12.0
25,GB1,2014,6,31,Liverpool,38,18,8,12,52,48,4,62,62,14.0,11.0
26,GB1,2014,7,180,Southampton,38,18,6,14,54,33,21,60,60,11.0,11.0
27,GB1,2014,8,2288,Swansea,38,16,8,14,46,49,-3,56,56,11.0,11.0
28,GB1,2014,9,512,Stoke City,38,15,9,14,48,45,3,54,54,6.0,8.0
29,GB1,2014,10,873,Crystal Palace,38,13,9,16,47,51,-4,48,48,11.0,13.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8019,IR1,2009,3,8780,Sligo Rovers,36,17,12,7,61,36,25,63,63,17.0,17.0
8020,IR1,2009,4,18232,Sporting Fingal,36,16,14,6,60,38,22,62,62,9.0,9.0
8021,IR1,2009,5,1189,St. Patricks,36,16,9,11,55,33,22,57,57,14.0,18.0
8022,IR1,2009,6,6066,Dundalk FC,36,14,6,16,46,50,-4,48,48,20.0,18.0
8023,IR1,2009,7,6069,UCD,36,11,8,17,47,54,-7,41,41,12.0,2.0
8024,IR1,2009,8,9212,Galway United,36,9,11,16,38,59,-21,38,38,16.0,12.0
8025,IR1,2009,9,3930,Bray Wanderers,36,6,9,21,35,72,-37,27,27,16.0,14.0
8026,IR1,2009,10,4277,Drogheda United,36,4,9,23,30,74,-44,21,21,17.0,16.0
8027,IR1,2008,1,9211,Bohemians,36,24,5,7,62,21,41,77,77,11.0,11.0
8028,IR1,2008,2,3258,Shamrock Rovers,36,21,10,5,51,27,24,73,73,10.0,15.0
8029,IR1,2008,3,6065,Cork City,36,17,9,10,42,28,14,60,60,10.0,15.0
8030,IR1,2008,4,920,Derry City,36,18,5,13,49,31,18,59,59,7.0,14.0
8031,IR1,2008,5,6066,Dundalk FC,36,12,8,16,46,51,-5,44,44,20.0,10.0
8032,IR1,2008,6,8780,Sligo Rovers,36,11,10,15,41,51,-10,43,43,8.0,11.0
8033,IR1,2008,7,1189,St. Patricks,36,12,5,19,28,46,-18,41,43,17.0,21.0
8034,IR1,2008,8,9212,Galway United,36,12,6,18,36,57,-21,42,42,11.0,26.0
8035,IR1,2008,9,4277,Drogheda United,36,7,12,17,33,50,-17,33,32,20.0,28.0
8036,IR1,2008,10,3930,Bray Wanderers,36,6,10,20,30,56,-26,28,28,13.0,15.0
8037,IR1,2007,1,9211,Bohemians,33,27,4,2,55,13,42,85,85,8.0,5.0
8038,IR1,2007,2,1189,St. Patricks,33,20,6,7,48,24,24,66,66,16.0,18.0
8039,IR1,2007,3,920,Derry City,33,16,10,7,46,25,21,58,58,14.0,15.0
8040,IR1,2007,4,8780,Sligo Rovers,33,12,12,9,41,28,13,48,48,9.0,5.0
8041,IR1,2007,5,6065,Cork City,33,15,11,7,45,28,17,56,46,9.0,9.0
8042,IR1,2007,6,3930,Bray Wanderers,33,11,6,16,28,52,-24,39,39,12.0,8.0
8043,IR1,2007,7,3258,Shamrock Rovers,34,8,14,12,34,36,-2,38,38,17.0,12.0
8044,IR1,2007,8,4277,Drogheda United,33,12,9,12,38,32,6,45,35,8.0,9.0
8045,IR1,2007,9,9212,Galway United,33,8,8,17,34,49,-15,32,32,17.0,3.0
8046,IR1,2007,10,5568,Finn Harps,33,9,4,20,26,53,-27,31,31,9.0,2.0
8047,IR1,2007,11,7039,Cobh Ramblers,33,6,8,19,27,55,-28,26,26,8.0,0.0
8048,IR1,2007,12,6069,UCD,33,4,9,20,19,46,-27,21,21,4.0,8.0

In [1]:
%matplotlib inline
import matplotlib
import matplotlib.pyplot as plt
matplotlib.style.use('ggplot')
from urllib2 import urlopen, Request
from bs4 import BeautifulSoup
from pandas import DataFrame
import pandas as pd
import numpy as np
import re
import os.path 
import datetime 
import math
import matplotlib.pyplot as plt

transfers = pd.read_csv('../data/merged/transfers_q.csv')
loans = pd.read_csv('../data/merged/loans.csv')
nonloans = pd.read_csv('../data/merged/nonloans.csv')
players=pd.read_csv('../data/merged/players.csv')
leagueTables=pd.read_csv('../data/merged/leagueTables.csv')

leagueCodeMapping = {'GB1':'Premier League (England)','FR1':'Ligue 1 (France)',
                                                         'ES1':'La Liga (Spain)','IT1':'Serie A (Italy)','L1':'Bundesliga (Germany)',
                                                         'PO1':'Primeira Liga (Portugal)','NL1':'Eredivisie (Netherlands)'}

teamIdMap = pd.concat([transfers[['toTeamId','toTeamName','season']].rename(columns={'toTeamId':'teamId','toTeamName':'teamName'}),
    transfers[['fromTeamId','fromTeamName','season']].rename(columns={'fromTeamId':'teamId','fromTeamName':'teamName'})],ignore_index=True) \
    .sort_values('season',ascending=False).drop_duplicates('teamId').set_index('teamId')['teamName'].to_dict()
    
agentIdMap = transfers[['playersAgentId','playersAgent']].sort_values('playersAgent',ascending=False).drop_duplicates('playersAgentId').set_index('playersAgentId')['playersAgent'].to_dict()

leagueList = ['GB1','ES1','L1','IT1','FR1','PO1','NL1','TR1','RU1','BE1','MLS1','UKR1','GR1','RO1','ZYP1','KR1','SER1','BOS1','BU1','DK1','SE1','NO1','LI1','SC1','ISR1','PL1','UNG1','A1','C1','MAL1','KAS1','TS1','SLO1','SL1','FI1','LUX1','AZ1','IR1']

countryInfo=pd.read_excel('../data/reference/countries.xls').set_index('country')
countryInfo.marketTier=np.where(countryInfo.marketTier==4,3,countryInfo.marketTier)

top20clubids=transfers.groupby('toTeamId')[['feeValue']].sum().merge(DataFrame({'teamName':teamIdMap}), left_index=True,right_index=True,how='left').sort_values('feeValue',ascending=False).iloc[:20].index
top50clubids=transfers.groupby('toTeamId')[['feeValue']].sum().merge(DataFrame({'teamName':teamIdMap}), left_index=True,right_index=True,how='left').sort_values('feeValue',ascending=False).iloc[:50].index
top100clubids=transfers.groupby('toTeamId')[['feeValue']].sum().merge(DataFrame({'teamName':teamIdMap}), left_index=True,right_index=True,how='left').sort_values('feeValue',ascending=False).iloc[:100].index

uefa=countryInfo[countryInfo.federation=='UEFA'].index
caf=countryInfo[countryInfo.federation=='CAF'].index
concacaf=countryInfo[countryInfo.federation=='CONCACAF'].index
concacaf_no_uscan=countryInfo[countryInfo.federation=='CONCACAF'].drop(['United States','Canada']).index
conmebol=countryInfo[countryInfo.federation=='CONMEBOL'].index
afc=countryInfo[countryInfo.federation=='AFC'].index
afc_no_anzac=countryInfo[countryInfo.federation=='AFC'].drop(['Australia','New Zealand']).index

country_coeff=pd.read_table('../data/reference/country_coefficient.csv').reset_index(drop=True)
country_coeff.columns=['Movement','Country','2012 coeff','2013 coeff','2014 coeff','2015 coeff','2016 coeff','Total coeff','Teams Total','CL','EL','Total']
country_coeff=country_coeff.drop(['Movement','2016 coeff','CL','EL','Total','Teams Total','Total coeff'],axis=1)
country_coeff['Country']=country_coeff['Country'].str.split('\(L',expand=True)[0].str.strip()
country_coeff=country_coeff.set_index('Country')
country_coeff = country_coeff.join(DataFrame({'total coeff':country_coeff.sum(axis=1)}))

natteam_coeff=pd.read_table('../data/reference/national_team_coefficient.csv').reset_index(drop=True).drop('Rank',axis=1)
natteam_coeff['Country']=natteam_coeff['Country'].str.strip()
natteam_coeff.Coefficient=natteam_coeff.Coefficient.apply(lambda s: int(s.replace(',','')))
natteam_coeff=natteam_coeff.rename(columns={'Coefficient':'National team coeff'}).set_index('Country')

club_coeff=pd.read_table('../data/reference/club_coefficient.csv').reset_index(drop=True).set_index('Club')
club_coeff=club_coeff.drop(['2017','2016','Mvmt','Total'],axis=1)
club_coeff.Association = club_coeff.Association.str.split(expand=True)[0]
# sanity check: club_coeff.merge(DataFrame({'Team Name':teamIdMap}),how='left',left_on='Team Id',right_index=True)
club_coeff=club_coeff.reset_index().set_index('Team Id').rename(columns=lambda c: 'Club coeff ' + c.split('–')[0] if '–' in c else c)

gdp=pd.read_table('../data/reference/country_gdp.csv').reset_index(drop=True).drop('2014 Rank',axis=1).rename(columns={'Country ':'Country'})
gdp.Country=gdp.Country.str.strip()
gdp=gdp.set_index('Country')
gdp.columns=['GDP '+c for c in gdp.columns.str.strip()]
for column in gdp.columns:
    gdp[column]=gdp[column].apply(lambda s: float(str(s).replace(',','')))
    
unemployed=pd.read_table('../data/reference/country_unemployment.csv').drop(['Date','Employment rate'],axis=1)
unemployed.columns=['Country','Unemployment']
unemployed['Country']=unemployed['Country'].str.split(' ').apply(lambda arr: ' '.join(arr[:len(arr)/2]))
unemployed=unemployed.set_index('Country').rename(index={'United Kingdom':'England'})

corruption=pd.read_table('../data/reference/country_corruption.csv').drop(['Rank'],axis=1)
corruption.Country=corruption.Country.str.strip()
corruption=corruption.set_index('Country')
corruption=corruption[corruption.columns[:1]].rename(columns={'2015 score':'Corruption'}).rename(index={'United Kingdom':'England'})

population=pd.read_table('../data/reference/country_population.csv').drop(['Rank'],axis=1)
population.columns=population.columns.str.strip()
population.Country=population.Country.str.split('[',expand=True)[0].str.strip()
population['Population']=population['Population'].apply(lambda s: float(str(s).replace(',','')))
population=population[['Country','Population','Growth %']].set_index('Country').rename(index={'United Kingdom':'England'})

barometer=pd.read_table('../data/reference/country_corruption_barometer.csv').reset_index(drop=True)
barometer.columns=['Corruption Rank','Country','Bribe %']
barometer.Country=barometer.Country.str.strip()
barometer=barometer.set_index('Country').rename(index={'United Kingdom':'England'})

countryInfo=natteam_coeff.join(country_coeff).join(gdp).join(unemployed).join(corruption).join(population).join(countryInfo).join(barometer)

/Users/sunkevin/anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2871: DtypeWarning: Columns (0,38,40,41,45,47,49,55) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/sunkevin/anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2871: DtypeWarning: Columns (45,47) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/sunkevin/anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2871: DtypeWarning: Columns (40,45,47,51) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/sunkevin/anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2871: DtypeWarning: Columns (32,34) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)