In [36]:
def topTeams(league):
    t= league.groupby('clubId').agg({'points':'sum','clubName':'first','transfers in': 'mean','transfers out': 'mean','goalDiff':'sum','goalsFor':'sum','goalsAgainst':'sum','season':'count','rank': 'mean'}).sort_values('points',ascending=False)
    t['invRank']=league['rank'].max()-t['rank']
    t['scaleRank']=t['rank']/league['rank'].max()
    return t

RO1=leagueTables.merge(clubSeasonInOut).groupby('league').apply(topTeams).ix['RO1']

In [45]:
stabilityVsPerf=leagueTables[leagueTables['season'].between(2010,2015)].merge(clubSeasonInOut).groupby('league').apply(topTeams) #.ix['GR1'].sort_values('goalDiff').plot.scatter(x='transfers in',y='points')
stabilityVsPerf=stabilityVsPerf.join(nonloans[nonloans['season'].between(2010,2015)].rename(columns={'fromLeague':'league','fromTeamId':'clubId'}).groupby(['league','clubId'])[['duration']].mean())
stabilityVsPerf=stabilityVsPerf.join(transfers[transfers['season'].between(2010,2015)].rename(columns={'fromLeague':'league','fromTeamId':'clubId'}).groupby(['league','clubId'])[['durationWithLoans']].mean())

ew = pd.ExcelWriter('../data/analysis/stability_performance.xls', encoding='utf-8')
stabilityVsPerf.to_excel(ew, merge_cells=False)
ew.save()

stabilityVsPerf

               transfers out  points  goalsAgainst  season  goalDiff  \
league clubId
A1     409         11.166667     435           210       6       274
       170          8.500000     366           231       6       127
       14          10.666667     352           255       6       114
       122         11.333333     319           266       6        48
       266         10.500000     281           304       6        -9
       503          9.600000     216           299       5       -65
       17444       12.200000     187           326       5      -144
       4441         8.500000     183           205       4       -25
       2444         7.500000     160           232       4       -70
       856          4.750000     143           236       4       -90
       10131       10.333333     126           192       3       -36
       3551         2.500000      99            98       2        -9
       2394        17.500000      61           125       2       -62
       413         19.000000      19            75       1       -53
AZ1    10625       10.000000     310           100       5       147
       8956        14.600000     278           108       5        94
       8031        11.600000     251           160       5        59
       22010       15.200000     247           149       5        44
       13326       15.600000     175           191       5       -30
       8841        16.200000     171           192       5       -30
       13328        8.750000     143           116       4         5
       10693       15.750000     142           149       4       -24
       36999       11.600000     132           232       5       -98
       33315       14.750000      90           192       4       -98
       7090        11.666667      88           123       3       -37
       46710        9.000000      62            30       1        12
       9526        15.000000      34            68       2       -31
       44360       29.000000       4            20       1       -13
BE1    58          10.666667     368           163       6       188
       2282        12.000000     356           196       6       168
...                      ...     ...           ...     ...       ...
UNG1   5378        15.333333      96           151       3       -56
       3552        13.333333      95           143       3       -53
       1391        10.000000      61           112       2       -36
       6058        11.000000      30            49       1       -16
       6049         4.000000      27            55       1       -30
       24032        9.000000      24            52       1       -25
       27165       10.000000      23            49       1       -23
       5399        13.000000      21            56       1       -30
       27397       13.000000      15            67       1       -42
ZYP1   2784        11.333333     351            91       6       221
       829         14.000000     295           122       6       136
       3899        15.166667     285           144       6       115
       2156        15.333333     276           140       6       104
       429         15.000000     268           169       6        72
       786         18.166667     267           143       6        67
       4590        17.666667     153           208       6       -62
       18945       19.400000     149           188       5       -58
       24326       23.000000     148           184       5       -46
       840         18.600000     135           176       5       -53
       3393        22.400000     122           219       5       -90
       1402        17.000000      93           119       3       -13
       8701        18.750000      90           204       4       -95
       10586       13.000000      78           106       3       -21
       7475        28.000000      41           101       2       -51
       10816       13.666667      30           165       3      -112
       45457       13.000000      27            47       1       -12
       26129        7.000000      21            64       1       -37
       8554        30.000000      19            47       1       -23
       30606        5.000000      16            26       1       -13
       6043         9.000000      11            45       1       -29

               transfers in           clubName       rank  goalsFor  \
league clubId
A1     409        12.500000        RB Salzburg   1.333333       484
       170         8.500000       Rapid Vienna   2.666667       358
       14         11.333333     Austria Vienna   3.666667       369
       122        11.666667         Sturm Graz   4.000000       314
       266        10.833333           SV  Ried   5.833333       295
       503        11.600000      Admira Wacker   6.800000       234
       17444      12.400000    Wiener Neustadt   8.200000       182
       4441        9.250000     Wolfsberger AC   5.750000       180
       2444        8.500000          FC Wacker   7.750000       162
       856         7.000000     SV Mattersburg   9.000000       146
       10131      13.000000          SV Gr√∂dig   7.000000       156
       3551        8.500000         SCR Altach   5.500000        89
       2394       16.500000      SV Kapfenberg   9.000000        63
       413        20.000000               LASK  10.000000        22
AZ1    10625       9.000000      Qarabag Agdam   2.000000       247
       8956       14.200000         Inter Baku   2.400000       202
       8031        9.800000       Neftchi Baku   3.200000       219
       22010      13.800000          FK Gabala   4.000000       193
       13326      16.400000               AZAL   7.000000       161
       8841       13.800000     X√§z√§r L√§nk√§ran   6.800000       162
       13328      11.250000             Simurq   6.500000       121
       10693      12.250000            FC Baku   6.250000       125
       36999      15.200000           Sumgayit   9.400000       134
       33315      24.750000         Ravan Baku   9.250000        94
       7090       14.333333        Kapaz Ganja   8.666667        86
       46710      26.000000            FK Zira   2.000000        42
       9526       16.500000              Turan  10.500000        37
       44360      19.000000      Araz-Naxcivan  10.000000         7
BE1    58         11.000000     RSC Anderlecht   2.000000       351
       2282       13.166667        Club Brugge   2.333333       364
...                     ...                ...        ...       ...
UNG1   5378       19.333333           Vasas FC  12.000000        95
       3552       13.000000         BFC Si√≥fok  12.666667        90
       1391       11.500000       Zalaegerszeg  10.000000        76
       6058       18.000000        Ny√≠regyh√°za  12.000000        33
       6049       19.000000         B√©k√©scsaba  12.000000        25
       24032      12.000000         Mez≈ëk√∂vesd  15.000000        27
       27165      14.000000        Duna√∫jv√°ros  15.000000        26
       5399       14.000000            Szolnok  16.000000        26
       27397      22.000000            Egri FC  16.000000        25
ZYP1   2784       11.166667      APOEL Nicosia   1.666667       312
       829        13.000000     Omonia Nikosia   3.333333       258
       3899       13.666667    Anor. Famagusta   3.833333       259
       2156       14.333333        AEK Larnaca   4.333333       244
       429        14.166667     Apol. Limassol   4.500000       241
       786        15.500000       AEL Limassol   5.166667       210
       4590       17.000000           Ethnikos   9.833333       146
       18945      19.200000        Nea Salamis   7.800000       130
       24326      21.000000    Ermis Aradippou   9.200000       138
       840        16.600000      En. Paralimni   9.800000       123
       3393       20.600000      D. Katokopias  10.000000       129
       1402       17.333333      Olympiakos N.   8.666667       106
       8701       17.000000       Alki Larnaca  10.500000       109
       10586      16.333333      Aris Limassol  10.666667        85
       7475       27.000000          AE Pafos   13.000000        50
       10816      17.000000          Agia Napa  12.333333        53
       45457      15.000000           Pafos FC  10.000000        35
       26129      29.000000        AEK Kouklia  12.000000        27
       8554       24.000000       APOP Kinyras  14.000000        24
       30606      12.000000  Othellos Athienou  11.000000        13
       6043       20.000000    Anagennisi Dery  13.000000        16

                 invRank  scaleRank     duration  durationWithLoans
league clubId
A1     409      8.666667   0.133333   935.149254         656.150000
       170      7.333333   0.266667  1312.431373         895.647887
       14       6.333333   0.366667   936.531250         731.071429
       122      6.000000   0.400000   815.367647         719.382716
       266      4.166667   0.583333   875.507937         708.883117
       503      3.200000   0.680000   832.750000         743.387097
       17444    1.800000   0.820000   738.688525         650.666667
       4441     4.250000   0.575000   818.676471         772.800000
       2444     2.250000   0.775000  1069.000000         963.823529
       856      1.000000   0.900000  1413.684211        1316.238095
       10131    3.000000   0.700000   708.935484         708.935484
       3551     4.500000   0.550000   327.200000         272.666667
       2394     1.000000   0.900000   692.800000         625.400000
       413      0.000000   1.000000   679.210526         601.083333
AZ1    10625   10.000000   0.166667   825.523810         698.132075
       8956     9.600000   0.200000   702.963415         640.896907
       8031     8.800000   0.266667   786.986111         668.922222
       22010    8.000000   0.333333   611.558442         591.023810
       13326    5.000000   0.583333   595.035714         570.666667
       8841     5.200000   0.566667   594.736264         522.850000
       13328    5.500000   0.541667   491.500000         491.500000
       10693    5.750000   0.520833   814.048387         776.115942
       36999    2.600000   0.783333   392.692308         395.222222
       33315    2.750000   0.770833   306.075472         301.472727
       7090     3.333333   0.722222   395.000000         395.000000
       46710   10.000000   0.166667   238.111111         238.111111
       9526     1.500000   0.875000   334.080000         334.080000
       44360    2.000000   0.833333   236.192308         236.192308
BE1    58      14.000000   0.125000  1143.065574         635.666667
       2282    13.666667   0.145833  1075.375000         653.829268
...                  ...        ...          ...                ...
UNG1   5378     4.000000   0.750000   563.227273         451.807692
       3552     3.333333   0.791667   554.282051         491.021739
       1391     6.000000   0.625000   551.263158         449.740741
       6058     4.000000   0.750000   377.636364         418.461538
       6049     4.000000   0.750000   421.750000         492.500000
       24032    1.000000   0.937500   826.666667         799.900000
       27165    1.000000   0.937500   385.000000         429.500000
       5399     0.000000   1.000000   423.923077         380.384615
       27397    0.000000   1.000000   357.538462         382.266667
ZYP1   2784    12.333333   0.119048  1084.507692         853.763158
       829     10.666667   0.238095   713.098765         608.110000
       3899    10.166667   0.273810   677.418605         569.461538
       2156     9.666667   0.309524   485.696203         447.632184
       429      9.500000   0.321429   649.232558         546.689320
       786      8.833333   0.369048   583.848485         546.468468
       4590     4.166667   0.702381   523.584158         529.166667
       18945    6.200000   0.557143   432.406593         430.340206
       24326    4.800000   0.657143   390.752294         385.982143
       840      4.200000   0.700000   615.151163         615.151163
       3393     4.000000   0.714286   441.297030         432.245283
       1402     5.333333   0.619048   327.695652         328.000000
       8701     3.500000   0.750000   431.157143         419.180556
       10586    3.333333   0.761905   538.657895         524.846154
       7475     1.000000   0.928571   436.214286         424.866667
       10816    1.666667   0.880952   414.702703         414.702703
       45457    4.000000   0.714286   337.692308         337.428571
       26129    2.000000   0.857143   348.714286         348.714286
       8554     0.000000   1.000000   471.172414         455.466667
       30606    3.000000   0.785714   347.200000         347.200000
       6043     1.000000   0.928571   449.333333         449.333333

[831 rows x 13 columns]

In [51]:
stabilityVsPerf['duration'].describe()

/Users/sunkevin/anaconda/lib/python2.7/site-packages/numpy-1.10.2-py2.7-macosx-10.5-x86_64.egg/numpy/lib/function_base.py:3403: RuntimeWarning: Invalid value encountered in median
  RuntimeWarning)

count     830.000000
mean      783.958255
std       314.415935
min       155.000000
25%              NaN
50%              NaN
75%              NaN
max      2010.000000
Name: duration, dtype: float64

In [43]:
stabilityVsPerf.join(nonloans[nonloans['season'].between(2010,2015)].rename(columns={'fromLeague':'league','fromTeamId':'clubId'}).groupby(['league','clubId'])[['duration','durationWithLoans']].mean())

               transfers out  points  goalsAgainst  season  goalDiff  \
league clubId
A1     409         11.166667     435           210       6       274
       170          8.500000     366           231       6       127
       14          10.666667     352           255       6       114
       122         11.333333     319           266       6        48
       266         10.500000     281           304       6        -9
       503          9.600000     216           299       5       -65
       17444       12.200000     187           326       5      -144
       4441         8.500000     183           205       4       -25
       2444         7.500000     160           232       4       -70
       856          4.750000     143           236       4       -90
       10131       10.333333     126           192       3       -36
       3551         2.500000      99            98       2        -9
       2394        17.500000      61           125       2       -62
       413         19.000000      19            75       1       -53
AZ1    10625       10.000000     310           100       5       147
       8956        14.600000     278           108       5        94
       8031        11.600000     251           160       5        59
       22010       15.200000     247           149       5        44
       13326       15.600000     175           191       5       -30
       8841        16.200000     171           192       5       -30
       13328        8.750000     143           116       4         5
       10693       15.750000     142           149       4       -24
       36999       11.600000     132           232       5       -98
       33315       14.750000      90           192       4       -98
       7090        11.666667      88           123       3       -37
       46710        9.000000      62            30       1        12
       9526        15.000000      34            68       2       -31
       44360       29.000000       4            20       1       -13
BE1    58          10.666667     368           163       6       188
       2282        12.000000     356           196       6       168
...                      ...     ...           ...     ...       ...
UNG1   5378        15.333333      96           151       3       -56
       3552        13.333333      95           143       3       -53
       1391        10.000000      61           112       2       -36
       6058        11.000000      30            49       1       -16
       6049         4.000000      27            55       1       -30
       24032        9.000000      24            52       1       -25
       27165       10.000000      23            49       1       -23
       5399        13.000000      21            56       1       -30
       27397       13.000000      15            67       1       -42
ZYP1   2784        11.333333     351            91       6       221
       829         14.000000     295           122       6       136
       3899        15.166667     285           144       6       115
       2156        15.333333     276           140       6       104
       429         15.000000     268           169       6        72
       786         18.166667     267           143       6        67
       4590        17.666667     153           208       6       -62
       18945       19.400000     149           188       5       -58
       24326       23.000000     148           184       5       -46
       840         18.600000     135           176       5       -53
       3393        22.400000     122           219       5       -90
       1402        17.000000      93           119       3       -13
       8701        18.750000      90           204       4       -95
       10586       13.000000      78           106       3       -21
       7475        28.000000      41           101       2       -51
       10816       13.666667      30           165       3      -112
       45457       13.000000      27            47       1       -12
       26129        7.000000      21            64       1       -37
       8554        30.000000      19            47       1       -23
       30606        5.000000      16            26       1       -13
       6043         9.000000      11            45       1       -29

               transfers in           clubName       rank  goalsFor  \
league clubId
A1     409        12.500000        RB Salzburg   1.333333       484
       170         8.500000       Rapid Vienna   2.666667       358
       14         11.333333     Austria Vienna   3.666667       369
       122        11.666667         Sturm Graz   4.000000       314
       266        10.833333           SV  Ried   5.833333       295
       503        11.600000      Admira Wacker   6.800000       234
       17444      12.400000    Wiener Neustadt   8.200000       182
       4441        9.250000     Wolfsberger AC   5.750000       180
       2444        8.500000          FC Wacker   7.750000       162
       856         7.000000     SV Mattersburg   9.000000       146
       10131      13.000000          SV Gr√∂dig   7.000000       156
       3551        8.500000         SCR Altach   5.500000        89
       2394       16.500000      SV Kapfenberg   9.000000        63
       413        20.000000               LASK  10.000000        22
AZ1    10625       9.000000      Qarabag Agdam   2.000000       247
       8956       14.200000         Inter Baku   2.400000       202
       8031        9.800000       Neftchi Baku   3.200000       219
       22010      13.800000          FK Gabala   4.000000       193
       13326      16.400000               AZAL   7.000000       161
       8841       13.800000     X√§z√§r L√§nk√§ran   6.800000       162
       13328      11.250000             Simurq   6.500000       121
       10693      12.250000            FC Baku   6.250000       125
       36999      15.200000           Sumgayit   9.400000       134
       33315      24.750000         Ravan Baku   9.250000        94
       7090       14.333333        Kapaz Ganja   8.666667        86
       46710      26.000000            FK Zira   2.000000        42
       9526       16.500000              Turan  10.500000        37
       44360      19.000000      Araz-Naxcivan  10.000000         7
BE1    58         11.000000     RSC Anderlecht   2.000000       351
       2282       13.166667        Club Brugge   2.333333       364
...                     ...                ...        ...       ...
UNG1   5378       19.333333           Vasas FC  12.000000        95
       3552       13.000000         BFC Si√≥fok  12.666667        90
       1391       11.500000       Zalaegerszeg  10.000000        76
       6058       18.000000        Ny√≠regyh√°za  12.000000        33
       6049       19.000000         B√©k√©scsaba  12.000000        25
       24032      12.000000         Mez≈ëk√∂vesd  15.000000        27
       27165      14.000000        Duna√∫jv√°ros  15.000000        26
       5399       14.000000            Szolnok  16.000000        26
       27397      22.000000            Egri FC  16.000000        25
ZYP1   2784       11.166667      APOEL Nicosia   1.666667       312
       829        13.000000     Omonia Nikosia   3.333333       258
       3899       13.666667    Anor. Famagusta   3.833333       259
       2156       14.333333        AEK Larnaca   4.333333       244
       429        14.166667     Apol. Limassol   4.500000       241
       786        15.500000       AEL Limassol   5.166667       210
       4590       17.000000           Ethnikos   9.833333       146
       18945      19.200000        Nea Salamis   7.800000       130
       24326      21.000000    Ermis Aradippou   9.200000       138
       840        16.600000      En. Paralimni   9.800000       123
       3393       20.600000      D. Katokopias  10.000000       129
       1402       17.333333      Olympiakos N.   8.666667       106
       8701       17.000000       Alki Larnaca  10.500000       109
       10586      16.333333      Aris Limassol  10.666667        85
       7475       27.000000          AE Pafos   13.000000        50
       10816      17.000000          Agia Napa  12.333333        53
       45457      15.000000           Pafos FC  10.000000        35
       26129      29.000000        AEK Kouklia  12.000000        27
       8554       24.000000       APOP Kinyras  14.000000        24
       30606      12.000000  Othellos Athienou  11.000000        13
       6043       20.000000    Anagennisi Dery  13.000000        16

                 invRank  scaleRank     duration  durationWithLoans
league clubId
A1     409      8.666667   0.133333   935.149254         798.119403
       170      7.333333   0.266667  1312.431373        1066.019608
       14       6.333333   0.366667   936.531250         870.078125
       122      6.000000   0.400000   815.367647         750.352941
       266      4.166667   0.583333   875.507937         773.444444
       503      3.200000   0.680000   832.750000         797.791667
       17444    1.800000   0.820000   738.688525         687.196721
       4441     4.250000   0.575000   818.676471         790.764706
       2444     2.250000   0.775000  1069.000000        1000.533333
       856      1.000000   0.900000  1413.684211        1355.684211
       10131    3.000000   0.700000   708.935484         708.935484
       3551     4.500000   0.550000   327.200000         284.000000
       2394     1.000000   0.900000   692.800000         666.742857
       413      0.000000   1.000000   679.210526         629.947368
AZ1    10625   10.000000   0.166667   825.523810         725.755556
       8956     9.600000   0.200000   702.963415         656.662651
       8031     8.800000   0.266667   786.986111         717.662162
       22010    8.000000   0.333333   611.558442         589.519481
       13326    5.000000   0.583333   595.035714         572.928571
       8841     5.200000   0.566667   594.736264         534.815217
       13328    5.500000   0.541667   491.500000         491.500000
       10693    5.750000   0.520833   814.048387         785.666667
       36999    2.600000   0.783333   392.692308         392.692308
       33315    2.750000   0.770833   306.075472         303.759259
       7090     3.333333   0.722222   395.000000         395.000000
       46710   10.000000   0.166667   238.111111         238.111111
       9526     1.500000   0.875000   334.080000         334.080000
       44360    2.000000   0.833333   236.192308         236.192308
BE1    58      14.000000   0.125000  1143.065574         709.492063
       2282    13.666667   0.145833  1075.375000         832.819444
...                  ...        ...          ...                ...
UNG1   5378     4.000000   0.750000   563.227273         433.522727
       3552     3.333333   0.791667   554.282051         463.650000
       1391     6.000000   0.625000   551.263158         530.052632
       6058     4.000000   0.750000   377.636364         377.636364
       6049     4.000000   0.750000   421.750000         421.750000
       24032    1.000000   0.937500   826.666667         622.555556
       27165    1.000000   0.937500   385.000000         385.000000
       5399     0.000000   1.000000   423.923077         380.384615
       27397    0.000000   1.000000   357.538462         357.538462
ZYP1   2784    12.333333   0.119048  1084.507692         903.507463
       829     10.666667   0.238095   713.098765         645.365854
       3899    10.166667   0.273810   677.418605         601.678161
       2156     9.666667   0.309524   485.696203         441.333333
       429      9.500000   0.321429   649.232558         606.681818
       786      8.833333   0.369048   583.848485         554.872549
       4590     4.166667   0.702381   523.584158         529.166667
       18945    6.200000   0.557143   432.406593         438.376344
       24326    4.800000   0.657143   390.752294         383.724771
       840      4.200000   0.700000   615.151163         615.151163
       3393     4.000000   0.714286   441.297030         436.475728
       1402     5.333333   0.619048   327.695652         328.000000
       8701     3.500000   0.750000   431.157143         412.885714
       10586    3.333333   0.761905   538.657895         529.052632
       7475     1.000000   0.928571   436.214286         436.214286
       10816    1.666667   0.880952   414.702703         414.702703
       45457    4.000000   0.714286   337.692308         335.307692
       26129    2.000000   0.857143   348.714286         348.714286
       8554     0.000000   1.000000   471.172414         458.586207
       30606    3.000000   0.785714   347.200000         347.200000
       6043     1.000000   0.928571   449.333333         449.333333

[831 rows x 13 columns]

In [4]:
def transfercount(club):
    return club

clubSeasonInOut=DataFrame({'transfers out': nonloans.groupby(['fromTeamId','season']).count()['id'],
    'transfers in':nonloans.groupby(['toTeamId','season']).count()['id']}).fillna(0).reset_index().rename(columns={'level_0':'clubId','level_1':'season'})

In [51]:
leagueTables.merge(clubSeasonInOut)

,league,season,rank,clubId,clubName,matches,wins,draws,losses,goalsFor,goalsAgainst,goalDiff,points,pointsRaw,transfers in,transfers out
0,GB1,2015,1,1003,Leicester,38,23,12,3,68,36,32,81,81,8.0,12.0
1,GB1,2015,2,11,Arsenal,38,20,11,7,65,36,29,71,71,7.0,4.0
2,GB1,2015,3,148,Spurs,38,19,13,6,69,35,34,70,70,6.0,20.0
3,GB1,2015,4,281,Manchester City,38,19,9,10,71,41,30,66,66,9.0,13.0
4,GB1,2015,5,985,Manchester Utd.,38,19,9,10,49,35,14,66,66,11.0,13.0
5,GB1,2015,6,180,Southampton,38,18,9,11,59,41,18,63,63,7.0,7.0
6,GB1,2015,7,379,West Ham,38,16,14,8,65,51,14,62,62,11.0,14.0
7,GB1,2015,8,31,Liverpool,38,16,12,10,63,50,13,60,60,10.0,10.0
8,GB1,2015,9,512,Stoke City,38,14,9,15,41,55,-14,51,51,8.0,7.0
9,GB1,2015,10,631,Chelsea,38,12,14,12,59,53,6,50,50,10.0,9.0
10,GB1,2015,11,29,Everton,38,11,14,13,59,55,4,47,47,8.0,7.0
11,GB1,2015,12,2288,Swansea,38,12,11,15,42,52,-10,47,47,5.0,8.0
12,GB1,2015,13,1010,Watford,38,12,9,17,40,50,-10,45,45,17.0,7.0
13,GB1,2015,14,984,West Brom,38,10,13,15,34,48,-14,43,43,6.0,12.0
14,GB1,2015,15,873,Crystal Palace,38,11,9,18,39,51,-12,42,42,5.0,10.0
15,GB1,2015,16,989,Bournemouth,38,11,9,18,45,67,-22,42,42,10.0,6.0
16,GB1,2015,17,289,Sunderland,38,9,12,17,48,62,-14,39,39,13.0,7.0
17,GB1,2015,18,762,Newcastle,38,9,10,19,44,65,-21,37,37,8.0,12.0
18,GB1,2015,19,1123,Norwich,38,9,7,22,39,67,-28,34,34,8.0,8.0
19,GB1,2015,20,405,Aston Villa,38,3,8,27,27,76,-49,17,17,12.0,16.0
20,GB1,2014,1,631,Chelsea,38,26,9,3,73,32,41,87,87,12.0,15.0
21,GB1,2014,2,281,Manchester City,38,24,7,7,83,38,45,79,79,13.0,10.0
22,GB1,2014,3,11,Arsenal,38,22,9,7,71,36,35,75,75,8.0,11.0
23,GB1,2014,4,985,Manchester Utd.,38,20,10,8,62,37,25,70,70,10.0,16.0
24,GB1,2014,5,148,Spurs,38,19,7,12,58,53,5,64,64,8.0,12.0
25,GB1,2014,6,31,Liverpool,38,18,8,12,52,48,4,62,62,14.0,11.0
26,GB1,2014,7,180,Southampton,38,18,6,14,54,33,21,60,60,11.0,11.0
27,GB1,2014,8,2288,Swansea,38,16,8,14,46,49,-3,56,56,11.0,11.0
28,GB1,2014,9,512,Stoke City,38,15,9,14,48,45,3,54,54,6.0,8.0
29,GB1,2014,10,873,Crystal Palace,38,13,9,16,47,51,-4,48,48,11.0,13.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8019,IR1,2009,3,8780,Sligo Rovers,36,17,12,7,61,36,25,63,63,17.0,17.0
8020,IR1,2009,4,18232,Sporting Fingal,36,16,14,6,60,38,22,62,62,9.0,9.0
8021,IR1,2009,5,1189,St. Patricks,36,16,9,11,55,33,22,57,57,14.0,18.0
8022,IR1,2009,6,6066,Dundalk FC,36,14,6,16,46,50,-4,48,48,20.0,18.0
8023,IR1,2009,7,6069,UCD,36,11,8,17,47,54,-7,41,41,12.0,2.0
8024,IR1,2009,8,9212,Galway United,36,9,11,16,38,59,-21,38,38,16.0,12.0
8025,IR1,2009,9,3930,Bray Wanderers,36,6,9,21,35,72,-37,27,27,16.0,14.0
8026,IR1,2009,10,4277,Drogheda United,36,4,9,23,30,74,-44,21,21,17.0,16.0
8027,IR1,2008,1,9211,Bohemians,36,24,5,7,62,21,41,77,77,11.0,11.0
8028,IR1,2008,2,3258,Shamrock Rovers,36,21,10,5,51,27,24,73,73,10.0,15.0
8029,IR1,2008,3,6065,Cork City,36,17,9,10,42,28,14,60,60,10.0,15.0
8030,IR1,2008,4,920,Derry City,36,18,5,13,49,31,18,59,59,7.0,14.0
8031,IR1,2008,5,6066,Dundalk FC,36,12,8,16,46,51,-5,44,44,20.0,10.0
8032,IR1,2008,6,8780,Sligo Rovers,36,11,10,15,41,51,-10,43,43,8.0,11.0
8033,IR1,2008,7,1189,St. Patricks,36,12,5,19,28,46,-18,41,43,17.0,21.0
8034,IR1,2008,8,9212,Galway United,36,12,6,18,36,57,-21,42,42,11.0,26.0
8035,IR1,2008,9,4277,Drogheda United,36,7,12,17,33,50,-17,33,32,20.0,28.0
8036,IR1,2008,10,3930,Bray Wanderers,36,6,10,20,30,56,-26,28,28,13.0,15.0
8037,IR1,2007,1,9211,Bohemians,33,27,4,2,55,13,42,85,85,8.0,5.0
8038,IR1,2007,2,1189,St. Patricks,33,20,6,7,48,24,24,66,66,16.0,18.0
8039,IR1,2007,3,920,Derry City,33,16,10,7,46,25,21,58,58,14.0,15.0
8040,IR1,2007,4,8780,Sligo Rovers,33,12,12,9,41,28,13,48,48,9.0,5.0
8041,IR1,2007,5,6065,Cork City,33,15,11,7,45,28,17,56,46,9.0,9.0
8042,IR1,2007,6,3930,Bray Wanderers,33,11,6,16,28,52,-24,39,39,12.0,8.0
8043,IR1,2007,7,3258,Shamrock Rovers,34,8,14,12,34,36,-2,38,38,17.0,12.0
8044,IR1,2007,8,4277,Drogheda United,33,12,9,12,38,32,6,45,35,8.0,9.0
8045,IR1,2007,9,9212,Galway United,33,8,8,17,34,49,-15,32,32,17.0,3.0
8046,IR1,2007,10,5568,Finn Harps,33,9,4,20,26,53,-27,31,31,9.0,2.0
8047,IR1,2007,11,7039,Cobh Ramblers,33,6,8,19,27,55,-28,26,26,8.0,0.0
8048,IR1,2007,12,6069,UCD,33,4,9,20,19,46,-27,21,21,4.0,8.0

In [2]:
%matplotlib inline
import matplotlib
import matplotlib.pyplot as plt
matplotlib.style.use('ggplot')
from urllib2 import urlopen, Request
from bs4 import BeautifulSoup
from pandas import DataFrame
import pandas as pd
import numpy as np
import re
import os.path 
import datetime 
import math
import matplotlib.pyplot as plt

transfers = pd.read_csv('../data/merged/transfers_q.csv')
loans = pd.read_csv('../data/merged/loans.csv')
nonloans = pd.read_csv('../data/merged/nonloans.csv')
players=pd.read_csv('../data/merged/players.csv')
leagueTables=pd.read_csv('../data/merged/leagueTables.csv')

leagueCodeMapping = {'GB1':'Premier League (England)','FR1':'Ligue 1 (France)',
                                                         'ES1':'La Liga (Spain)','IT1':'Serie A (Italy)','L1':'Bundesliga (Germany)',
                                                         'PO1':'Primeira Liga (Portugal)','NL1':'Eredivisie (Netherlands)'}

teamIdMap = pd.concat([transfers[['toTeamId','toTeamName','season']].rename(columns={'toTeamId':'teamId','toTeamName':'teamName'}),
    transfers[['fromTeamId','fromTeamName','season']].rename(columns={'fromTeamId':'teamId','fromTeamName':'teamName'})],ignore_index=True) \
    .sort_values('season',ascending=False).drop_duplicates('teamId').set_index('teamId')['teamName'].to_dict()
    
agentIdMap = transfers[['playersAgentId','playersAgent']].sort_values('playersAgent',ascending=False).drop_duplicates('playersAgentId').set_index('playersAgentId')['playersAgent'].to_dict()

leagueList = ['GB1','ES1','L1','IT1','FR1','PO1','NL1','TR1','RU1','BE1','MLS1','UKR1','GR1','RO1','ZYP1','KR1','SER1','BOS1','BU1','DK1','SE1','NO1','LI1','SC1','ISR1','PL1','UNG1','A1','C1','MAL1','KAS1','TS1','SLO1','SL1','FI1','LUX1','AZ1','IR1']

countryInfo=pd.read_excel('../data/reference/countries.xls').set_index('country')
countryInfo.marketTier=np.where(countryInfo.marketTier==4,3,countryInfo.marketTier)

top20clubids=transfers.groupby('toTeamId')[['feeValue']].sum().merge(DataFrame({'teamName':teamIdMap}), left_index=True,right_index=True,how='left').sort_values('feeValue',ascending=False).iloc[:20].index
top50clubids=transfers.groupby('toTeamId')[['feeValue']].sum().merge(DataFrame({'teamName':teamIdMap}), left_index=True,right_index=True,how='left').sort_values('feeValue',ascending=False).iloc[:50].index
top100clubids=transfers.groupby('toTeamId')[['feeValue']].sum().merge(DataFrame({'teamName':teamIdMap}), left_index=True,right_index=True,how='left').sort_values('feeValue',ascending=False).iloc[:100].index

uefa=countryInfo[countryInfo.federation=='UEFA'].index
caf=countryInfo[countryInfo.federation=='CAF'].index
concacaf=countryInfo[countryInfo.federation=='CONCACAF'].index
concacaf_no_uscan=countryInfo[countryInfo.federation=='CONCACAF'].drop(['United States','Canada']).index
conmebol=countryInfo[countryInfo.federation=='CONMEBOL'].index
afc=countryInfo[countryInfo.federation=='AFC'].index
afc_no_anzac=countryInfo[countryInfo.federation=='AFC'].drop(['Australia','New Zealand']).index

country_coeff=pd.read_table('../data/reference/country_coefficient.csv').reset_index(drop=True)
country_coeff.columns=['Movement','Country','2012 coeff','2013 coeff','2014 coeff','2015 coeff','2016 coeff','Total coeff','Teams Total','CL','EL','Total']
country_coeff=country_coeff.drop(['Movement','2016 coeff','CL','EL','Total','Teams Total','Total coeff'],axis=1)
country_coeff['Country']=country_coeff['Country'].str.split('\(L',expand=True)[0].str.strip()
country_coeff=country_coeff.set_index('Country')
country_coeff = country_coeff.join(DataFrame({'total coeff':country_coeff.sum(axis=1)}))

natteam_coeff=pd.read_table('../data/reference/national_team_coefficient.csv').reset_index(drop=True).drop('Rank',axis=1)
natteam_coeff['Country']=natteam_coeff['Country'].str.strip()
natteam_coeff.Coefficient=natteam_coeff.Coefficient.apply(lambda s: int(s.replace(',','')))
natteam_coeff=natteam_coeff.rename(columns={'Coefficient':'National team coeff'}).set_index('Country')

club_coeff=pd.read_table('../data/reference/club_coefficient.csv').reset_index(drop=True).set_index('Club')
club_coeff=club_coeff.drop(['2017','2016','Mvmt','Total'],axis=1)
club_coeff.Association = club_coeff.Association.str.split(expand=True)[0]
# sanity check: club_coeff.merge(DataFrame({'Team Name':teamIdMap}),how='left',left_on='Team Id',right_index=True)
club_coeff=club_coeff.reset_index().set_index('Team Id').rename(columns=lambda c: 'Club coeff ' + c.split('‚Äì')[0] if '‚Äì' in c else c)

gdp=pd.read_table('../data/reference/country_gdp.csv').reset_index(drop=True).drop('2014 Rank',axis=1).rename(columns={'Country ':'Country'})
gdp.Country=gdp.Country.str.strip()
gdp=gdp.set_index('Country')
gdp.columns=['GDP '+c for c in gdp.columns.str.strip()]
for column in gdp.columns:
    gdp[column]=gdp[column].apply(lambda s: float(str(s).replace(',','')))
    
unemployed=pd.read_table('../data/reference/country_unemployment.csv').drop(['Date','Employment rate'],axis=1)
unemployed.columns=['Country','Unemployment']
unemployed['Country']=unemployed['Country'].str.split(' ').apply(lambda arr: ' '.join(arr[:len(arr)/2]))
unemployed=unemployed.set_index('Country').rename(index={'United Kingdom':'England'})

corruption=pd.read_table('../data/reference/country_corruption.csv').drop(['Rank'],axis=1)
corruption.Country=corruption.Country.str.strip()
corruption=corruption.set_index('Country')
corruption=corruption[corruption.columns[:1]].rename(columns={'2015 score':'Corruption'}).rename(index={'United Kingdom':'England'})

population=pd.read_table('../data/reference/country_population.csv').drop(['Rank'],axis=1)
population.columns=population.columns.str.strip()
population.Country=population.Country.str.split('[',expand=True)[0].str.strip()
population['Population']=population['Population'].apply(lambda s: float(str(s).replace(',','')))
population=population[['Country','Population','Growth %']].set_index('Country').rename(index={'United Kingdom':'England'})

barometer=pd.read_table('../data/reference/country_corruption_barometer.csv').reset_index(drop=True)
barometer.columns=['Corruption Rank','Country','Bribe %']
barometer.Country=barometer.Country.str.strip()
barometer=barometer.set_index('Country').rename(index={'United Kingdom':'England'})

countryInfo=natteam_coeff.join(country_coeff).join(gdp).join(unemployed).join(corruption).join(population).join(countryInfo).join(barometer)

/Users/sunkevin/anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2871: DtypeWarning: Columns (0,38,40,41,45,47,49,55) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/sunkevin/anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2871: DtypeWarning: Columns (45,47) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/sunkevin/anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2871: DtypeWarning: Columns (40,45,47,51) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/sunkevin/anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2871: DtypeWarning: Columns (32,34) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)