In [23]:
# utility functions for accessing transfermarkt.com

from urllib2 import urlopen, Request
from bs4 import BeautifulSoup
from pandas import DataFrame

# transfermarkt blocks default useragent
useragent = 'Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/41.0.2228.0 Safari/537.36'
# "lol" can be anything - transfermarkt ignores it/uses it for semantic url
urlprefix = 'http://www.transfermarkt.com/lol/'

def getUrlFromLeagueId(id, season=2015):
    return urlprefix + 'startseite/wettbewerb/' + id + '/saison_id/' + str(season)

def getUrlFromClubId(id, season=2015):
    return urlprefix + 'startseite/verein/' + str(id) + '/saison_id/' + str(season)

def getUrlFromPlayerId(id):
    return urlprefix + 'profil/spieler/' + str(id)

def getClubsFromLeagueId(id, season=2015):
    bs = BeautifulSoup(urlopen(Request(getUrlFromLeagueId(id, season), headers={'User-Agent': useragent})))
    elements = bs.find(id='yw1').find_all("td",class_="hauptlink no-border-links hide-for-small hide-for-pad")
    return [{'clubId': cp.find("a")["id"], 'name': cp.getText()} for cp in elements]

def getPlayersFromClubId(id, season=2015):
    bs = BeautifulSoup(urlopen(Request(getUrlFromClubId(id), headers={'User-Agent': useragent})))
    elements = bs.find(id='yw1').find_all("span",class_="hide-for-small")
    return [{'playerId': cp.find("a", class_="spielprofil_tooltip")["id"], 
             'name': cp.getText()} for cp in elements if cp.find("a", class_="spielprofil_tooltip")]

In [24]:
DataFrame(getClubsFromLeagueId('GB1',2010))  #.sort_values(by="clubId")

   clubId                       name
0     631                Chelsea FC
1     985         Manchester United
2     281           Manchester City
3      31              Liverpool FC
4      11                Arsenal FC
5     148         Tottenham Hotspur
6     405               Aston Villa
7      29                Everton FC
8     379           West Ham United
9     289            Sunderland AFC
10    931                 Fulham FC
11    337           Birmingham City
12    512                Stoke City
13    762          Newcastle United
14    164          Blackburn Rovers
15    355          Bolton Wanderers
16    984      West Bromwich Albion
17    543  Wolverhampton Wanderers
18   1071            Wigan Athletic
19   1181              Blackpool FC

In [22]:
DataFrame(getPlayersFromClubId(418,2005))

                 name  playerId
0        Keylor Navas     79422
1        Kiko Casilla     27486
2         Rubén Yáñez    246335
3        Sergio Ramos     25557
4      Raphaël Varane    164770
5                Pepe     14132
6     Nacho Fernández     58884
7             Marcelo     44501
8     Daniel Carvajal    138927
9              Danilo    145707
10     Álvaro Arbeloa     28260
11           Casemiro     16306
12         Toni Kroos     31909
13        Luka Modric     27992
14      Mateo Kovacic     51471
15    James Rodríguez     88103
16               Isco     85288
17  Cristiano Ronaldo      8198
18               Jesé    134936
19        Gareth Bale     39381
20      Lucas Vázquez    221316
21      Karim Benzema     18922